<strong>Olá, {{ provider }}</strong>
<p>Houve um cancelamento de horário, confira os detalhes abaixo:</p>

<p>
  <strong>Cliente: </strong> {{ user }} <br/>
  <string>Data/hora: </string> {{ date }}<br />
  <br/>
<small>O horário está disponível novamente para um novo agendamento.</small>
</p>
